* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: darkgrey;
}

a {
    color: aliceblue;
    text-decoration: none;
}

p {
    font-size: 16px;
    margin: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  height: 60px;
  border-bottom: 3px solid #73AD21;
  }

.header h1 {
  justify-content: left;
  color: aliceblue;
}

.header nav {
  font-size: 24px;
  color: aliceblue;
  padding: 15px;
}

.header nav a:hover {
  color: rgb(229, 22, 22);
  font-weight: 500;
  font-size: larger;
}

.main {
  background-color: rgb(52, 47, 47);
  border-radius: 25px;
  border: 3px solid #73AD21;
  padding: 30px;
  width: auto;
  height: auto;
  margin: 25px;
  color: aliceblue;
  text-align: center
}

.footer {
  background-color: black;
  color: aliceblue;
  text-align: center;
  padding: 15px;
  position:absolute;
  bottom:0;
  width:100%;
  font-family: 'Courier New', Courier, monospace;
  border-top: 3px solid #73AD21;
}

.portfolio {
    display: flex;
    width: 90%;
    margin: 1% auto;
  }
  
  .portfolio button {
    font-size: 150%;
    align-items: center;
    }
  
  .portfolio-slideshow {
    display: flex;
  }
  
  .portfolio-image {
    width: 100%;
  }
  
  .portfolio-details {
    margin-left: 3%;
    flex: 0 0 60%;
  }

/*change this*/

@media screen and (max-width: 768px) {
    main,
    nav,
    .portfolio {
      flex-direction: column;
    }
  
    .portfolio-slideshow button {
      /* Removes the slideshow buttons from the document flow */
      display: flex;
    }
  
    .porfolio-details {
      margin-left: 0;
    }
  }